/* **************************** Footer Section Styles **************************** */

footer {
	margin: 10rem auto 0;
	padding: 4rem 10rem 2rem;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 4px solid var(--tertiarycolor);
	background: rgba(0, 0, 0, 0.2);
}

footer h2 {
	font-size: 2rem;
	font-weight: 500;
	font-family: var(--textfont);
	color: var(--primarygrey);
	letter-spacing: 1px;
	line-height: 1.6;
}

footer h2 a {
	color: var(--tertiarycolor);
	text-decoration: none !important;
	transition: all 0.2s ease-in-out;
}

footer h2 a:hover {
	color: var(--primarywhite);
}

footer p {
	font-size: 2rem;
	font-weight: 500;
	font-family: var(--textfont);
	color: var(--primarygrey);
	letter-spacing: 1px;
	line-height: 1.6;
}

footer .themes>p {
	margin: 2px;
	text-align: center;
}

footer .shift {
	border: none;
	height: 28px;
	width: 36px;
	margin: 0 10px;
}

footer .shift:hover {
	box-shadow: 2px 2px 5px rgb(184, 184, 184);
}

footer .theme1 {
	background: -webkit-linear-gradient(140deg, var(--primarycolortheme1) 50%, var(--tertiarycolortheme1) 50%);
	background: -o-linear-gradient(140deg, var(--primarycolortheme1) 50%, var(--tertiarycolortheme1) 50%);
	background: -moz-linear-gradient(140deg, var(--primarycolortheme1) 50%, var(--tertiarycolortheme1) 50%);
	background: linear-gradient(140deg, var(--primarycolortheme1) 50%, var(--tertiarycolortheme1) 50%);
}

footer .theme2 {
	background: -webkit-linear-gradient(140deg, var(--primarycolortheme2) 50%, var(--tertiarycolortheme2) 50%);
	background: -o-linear-gradient(140deg, var(--primarycolortheme2) 50%, var(--tertiarycolortheme2) 50%);
	background: -moz-linear-gradient(140deg, var(--primarycolortheme2) 50%, var(--tertiarycolortheme2) 50%);
	background: linear-gradient(140deg, var(--primarycolortheme2) 50%, var(--tertiarycolortheme2) 50%);
}

footer .theme3 {
	background: -webkit-linear-gradient(140deg, var(--primarycolortheme3) 50%, var(--tertiarycolortheme3) 50%);
	background: -o-linear-gradient(140deg, var(--primarycolortheme3) 50%, var(--tertiarycolortheme3) 50%);
	background: -moz-linear-gradient(140deg, var(--primarycolortheme3) 50%, var(--tertiarycolortheme3) 50%);
	background: linear-gradient(140deg, var(--primarycolortheme3) 50%, var(--tertiarycolortheme3) 50%);
}

footer .theme4 {
	background: -webkit-linear-gradient(140deg, var(--primarycolortheme4) 50%, var(--tertiarycolortheme4) 50%);
	background: -o-linear-gradient(140deg, var(--primarycolortheme4) 50%, var(--tertiarycolortheme4) 50%);
	background: -moz-linear-gradient(140deg, var(--primarycolortheme4) 50%, var(--tertiarycolortheme4) 50%);
	background: linear-gradient(140deg, var(--primarycolortheme4) 50%, var(--tertiarycolortheme4) 50%);
}

footer p span {
	color: var(--warningcolor);
}

@media (max-width: 992px) {
	footer {
		padding: 4rem 4rem 2rem;
		align-items: flex-start;
		flex-direction: column;
	}
}

/* **************************** Styles End **************************** */
