/* **************************** Header Section **************************** */

header {
	position: sticky;
	top: 3rem;
	z-index: 10;
	margin: auto;
	padding: 1.2rem 2rem;
	width: 90%;

	/* Glass Effect */
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), inset 0px 0px 40px 20px rgba(255, 255, 255, 0.2);
	border: 2px solid rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* **************************** Header Backdrop Blur **************************** */

div#backdrop_bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	backdrop-filter: blur(40px);
	-webkit-backdrop-filter: blur(40px);
	opacity: 0;
	visibility: hidden;
	z-index: 9;
	transition: all 0.4s ease-in-out;
}

div#backdrop_bg.backdrop_active {
	opacity: 1;
	visibility: visible;
}

/* **************************** Header Brand **************************** */

header nav a.nav_brand {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	user-select: none;
}

header nav a.nav_brand img {
	margin: auto;
	margin-right: 0.5rem;
	width: 4rem;
	height: auto;
}

header nav a.nav_brand h4 {
	margin: auto;
	margin-left: 0.5rem;
	margin-bottom: -1rem;
	font-size: 3.6rem;
	font-weight: 400;
	font-family: "Spoiled", sans-serif;
	color: var(--primarywhite);
	letter-spacing: 1px;
}

/* **************************** Header Menus & Btn **************************** */

header nav a.nav_btn,
header nav div.nav_items a.nav_links {
	position: relative;
	margin: auto 0.8rem;
	padding: 0.8rem 1rem 0.5rem;
	font-size: 1.7rem;
	font-weight: 700;
	font-family: "Liber", sans-serif;
	color: var(--primarywhite);
	letter-spacing: 1.2px;
	text-align: center;
	text-decoration: none;
	border-radius: 6px;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0px 0px 20px 2px rgba(255, 255, 255, 0.2);
	transition: all 0.15s ease-in-out;
}

header nav a.nav_btn::before,
header nav div.nav_items a.nav_links::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid var(--primarywhite);
	opacity: 0.4;
	border-radius: 6px;
	transition: all 0.15s ease-in-out;
}

header nav a.nav_btn:hover,
header nav div.nav_items a.nav_links:hover,
header nav div.nav_items a.nav_links.active {
	background: rgba(255, 255, 255, 0.2);
}

header nav a.nav_btn:hover:before,
header nav div.nav_items a.nav_links:hover:before,
header nav div.nav_items a.nav_links.active:before {
	opacity: 0.8;
}

/* **************************** Header Candy **************************** */

header nav div.menu_icon {
	position: relative;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--lightwhite);
	border-radius: 6px;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0px 0px 20px 2px rgba(255, 255, 255, 0.2);
	cursor: pointer;
	overflow: hidden;
	z-index: 10;
}

/* Icon Open */

header nav div.menu_icon .menu_open {
	position: absolute;
	width: 11px;
	height: 11px;
	background: currentColor;
	border-radius: 2px;
	transition: all 0.25s ease-in-out;
}

header nav div.menu_icon .menu_open.box_1 {
	top: 8px;
	left: 8px;
}

header nav div.menu_icon .menu_open.box_2 {
	top: 8px;
	right: 8px;
}

header nav div.menu_icon .menu_open.box_3 {
	bottom: 8px;
	left: 8px;
}

header nav div.menu_icon .menu_open.box_4 {
	bottom: 8px;
	right: 8px;
}

/* Icon Close */

header nav div.menu_icon .menu_close {
	position: absolute;
	width: 25px;
	height: 3px;
	background: currentColor;
	border-radius: 2px;
	transition: all 0.25s ease-in-out;
}

header nav div.menu_icon .menu_close.close_1 {
	transform: rotate(45deg) scaleX(0);
}

header nav div.menu_icon .menu_close.close_2 {
	transform: rotate(-45deg) scaleX(0);
}

/* Active State: Animation */

header nav div.menu_candy.menu_active .menu_open {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
}

header nav div.menu_candy.menu_active .menu_close.close_1 {
	transform: rotate(45deg) scaleX(1) rotate(180deg);
}

header nav div.menu_candy.menu_active .menu_close.close_2 {
	transform: rotate(-45deg) scaleX(1) rotate(180deg);
}

/* **************************** Header Menu Desktop **************************** */

header nav div.nav_items {
	margin: auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* **************************** Header Menu Mobile **************************** */

@media (min-width: 768px) {
	header nav div.menu_icon {
		display: none;
	}
}

@media (max-width: 768px) {
	header nav div.nav_items {
		position: absolute;
		top: 0;
		left: 0;
		margin: 1rem 0;
		padding: 1rem;
		transform: translateY(20%);
		width: 100%;
		flex-direction: column;
		clip-path: inset(0 0 100% 0);
		transition: all 0.4s cubic-bezier(0.87, 0, 0.13, 1);

		/* Glass Effect */
		border-radius: 10px;
		background: rgba(255, 255, 255, 0.1);
		box-shadow: inset 0px 0px 40px 20px rgba(255, 255, 255, 0.2);
		border: 2px solid rgba(255, 255, 255, 0.4);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
	}

	header nav div.menu_icon.menu_active ~ div.nav_items {
		clip-path: inset(0 0 0 0);
	}
}

/* **************************** Responsive Medias **************************** */

@media (max-width: 992px) {
	header nav div.nav_items a.nav_links {
		margin: auto 0.4rem;
		padding: 0.8rem 0.7rem 0.5rem;
	}
}

@media (max-width: 768px) {
	header nav div.nav_items a.nav_links {
		margin: 0.6rem auto;
		padding: 1.2rem 2.5rem 0.8rem;
		width: 100%;
	}
}

/* **************************** Styles End **************************** */
