/*==================================== Loader =====================================*/

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--primaryBg);
	z-index: 9999;
	transition: all 0.6s ease;

	display: none;
}

/* The loader container */

.loader {
	position: relative;
	width: 200px;
	height: 200px;
	background: transparent;
	border-radius: 50%;
	transition: all 0.4s ease;
}

/* All Dots Frames */

.loader .dot-1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	width: 40px;
	height: 40px;
	background: var(--primarywhite);
	border-radius: 50%;
	animation-fill-mode: both;
	animation: dot-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.loader .dot-2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 70px;
	height: 70px;
	background: radial-gradient(circle, var(--primarycolor) 0%, var(--secondarycolor) 100%);
	border-radius: 50%;
	animation-fill-mode: both;
	animation: dot-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.loader .dot-3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 110px;
	height: 110px;
	background: radial-gradient(circle, var(--primarycolor) 0%, var(--secondarycolor) 100%);
	border-radius: 50%;
	animation-fill-mode: both;
	animation: dot-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

/* All Dots Animation */

@keyframes dot-1 {
	0%,
	70% {
		transform: translate(-50%, -50%) scale(0);
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	}

	100% {
		transform: translate(-50%, -50%) scale(1);
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	}
}

@keyframes dot-2 {
	0%,
	40% {
		transform: translate(-50%, -50%) scale(0);
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	}

	100% {
		transform: translate(-50%, -50%) scale(1);
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	}
}

@keyframes dot-3 {
	0%,
	10% {
		transform: translate(-50%, -50%) scale(0);
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	}

	100% {
		transform: translate(-50%, -50%) scale(1);
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	}
}
