/* **************************** Index Page Styles **************************** */

/* **************************** Index Banner **************************** */

section#dev_banner {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

div#dots-js {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

div.dev_banner {
	margin: 4rem auto;
	padding: 6rem 1rem;
	position: relative;
	width: calc(100% - 20rem);
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;

	/* Glass Effect */
	border-radius: 16px;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), inset 0px 0px 40px 20px rgba(255, 255, 255, 0.2);
	border: 2px solid rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

div.dev_banner h2 {
	margin: 2rem auto;
	font-size: 8rem;
	font-weight: 400;
	font-family: "Spoiled", sans-serif;
	color: var(--lightwhite);
	text-align: center;
	-webkit-text-stroke: 1px var(--lightwhite);
	opacity: 0;
	user-select: none;
	letter-spacing: 10rem;
	transition: all 0.6s cubic-bezier(0.35, 1.95, 0.51, 0.66);
}

div.dev_banner h1 {
	margin: 2rem auto;
	margin-bottom: -4rem;
	font-size: 20rem;
	font-weight: 400;
	font-family: "Spectron", sans-serif;
	color: var(--primarywhite);
	-webkit-text-stroke: 2px var(--primarywhite);
	user-select: none;
	letter-spacing: 8px;
	text-align: center;
	text-transform: uppercase;
	opacity: 0;
	transform: scale(0);
	transition: all 0.6s cubic-bezier(0.35, 1.95, 0.51, 0.66);
}

div.dev_banner img {
	margin: 2rem auto 4rem;
	padding: 0 2rem;
	width: 25rem;
	height: auto;
	opacity: 0;
	transform: scale(0);
	transition: all 0.6s cubic-bezier(0.35, 1.95, 0.51, 0.66);
}

div.dev_banner h2.active {
	opacity: 1;
	letter-spacing: 0.5rem;
}
div.dev_banner h1.active,
div.dev_banner img.active {
	opacity: 1;
	transform: scale(1);
}

/* **************************** Responsive Media **************************** */

@media (max-width: 992px) {
	div.dev_banner {
		width: calc(100% - 10rem);
	}
	div.dev_banner h2 {
		font-size: 6rem;
	}
	div.dev_banner h1 {
		font-size: 15rem;
	}
	div.dev_banner img {
		width: 20rem;
	}
}

@media (max-width: 767px) {
	div.dev_banner h1 {
		font-size: 12rem;
	}
	div.dev_banner img {
		width: 18rem;
	}
}

@media (max-width: 476px) {
	div.dev_banner {
		width: calc(100% - 5rem);
	}
}

/* ************************ Index Navbar ************************ */

section#dev_navbar div.dev_navbar {
	margin: 10rem auto;
	padding: 1rem 6rem;
	width: calc(100% - 20rem);
	position: relative;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));

	/* Glass Effect */
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), inset 0px 0px 40px 20px rgba(255, 255, 255, 0.2);
	border: 2px solid rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

div.dev_navbar a.nav_btn {
	position: relative;
	margin: 1rem;
	padding: 1rem 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-decoration: none;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), inset 0px 0px 20px 2px rgba(255, 255, 255, 0.2);
	transition: all 0.15s ease-in-out;
}

div.dev_navbar a.nav_btn::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 3px solid var(--primarywhite);
	opacity: 0;
	border-radius: 10px;
	transition: all 0.15s ease-in-out;
}

div.dev_navbar a.nav_btn:hover:before {
	opacity: 1;
}

div.dev_navbar a.nav_btn i {
	margin: 1rem auto 0;
	font-size: 4.5rem;
	color: var(--primarywhite);
	transition: all 0.15s ease-in-out;
}

div.dev_navbar a.nav_btn span {
	margin: 1rem auto;
	font-size: 2.2rem;
	font-weight: 800;
	font-family: "Liber", sans-serif;
	color: var(--primarywhite);
	letter-spacing: 1.2px;
	transition: all 0.15s ease-in-out;
}

div.dev_navbar a.nav_btn:hover i,
div.dev_navbar a.nav_btn:hover span {
	color: var(--primarywhite);
}

/* **************************** Responsive Media **************************** */

@media (max-width: 992px) {
	section#dev_navbar div.dev_navbar {
		width: calc(100% - 10rem);
	}
}

@media (max-width: 572px) {
	section#dev_navbar div.dev_navbar {
		padding: 1rem;
	}

	div.dev_navbar a.nav_btn {
		margin: 0.5rem;
	}

	div.dev_navbar a.nav_btn i {
		display: none;
	}
}

@media (max-width: 476px) {
	section#dev_navbar div.dev_navbar {
		width: calc(100% - 5rem);
	}
}

/* **************************** Index About **************************** */

section#dev_about div.dev_about {
	position: relative;
	margin: 10rem auto;
	padding: 2rem;
	width: calc(100% - 20rem);
	height: 90vh;

	/* Glass Effect */
	border-radius: 16px;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), inset 0px 0px 40px 20px rgba(255, 255, 255, 0.2);
	border: 2px solid rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

div.dev_about .des,
div.dev_about .fig {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

div.dev_about h2 {
	margin: 3rem auto;
	padding: 2rem 2rem 1rem;
	font-size: 4rem;
	font-weight: 700;
	font-family: "Liber", sans-serif;
	color: var(--primarywhite);
	letter-spacing: 3px;
	text-align: center;
	user-select: none;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), inset 0px 0px 20px 4px rgba(255, 255, 255, 0.2);
}

div.dev_about h2 span {
	font-size: 6rem;
	font-weight: 600;
	font-family: "PerryWaters", sans-serif;
	color: var(--primarywhite);
	-webkit-text-stroke: 1px var(--primarywhite);
}

div.dev_about p {
	margin: 2rem auto;
	padding: 3rem;
	font-size: 2.2rem;
	font-weight: 400;
	font-family: var(--textfont);
	color: var(--lightwhite);
	text-align: justify;
	line-height: 1.5;
	letter-spacing: 1px;
	word-spacing: 1px;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), inset 0px 0px 20px 4px rgba(255, 255, 255, 0.2);
}

div.dev_about p::first-line {
	line-height: 1;
}

div.dev_about p span {
	font-weight: 600;
}

div.dev_about p span:first-child {
	margin-right: 0.8rem;
	font-size: 4.2rem;
	font-weight: 500;
	font-family: "Spoiled", sans-serif;
	color: var(--primarywhite);
}

div.dev_about object {
	margin: auto;
	width: 90%;
	height: auto;
}

/* **************************** Responsive Media **************************** */

@media (max-width: 992px) {
	section#dev_about div.dev_about {
		width: calc(100% - 10rem);
		height: auto;
	}
	div.dev_about h2 {
		font-size: 3.5rem;
	}
	div.dev_about h2 span {
		font-size: 5rem;
	}
}

@media (max-width: 768px) {
	div.dev_about object {
		width: 70%;
	}
}

@media (max-width: 572px) {
	section#dev_about div.dev_about {
		padding: 2rem 1rem;
	}
	div.dev_about h2 {
		margin: 1rem auto;
		font-size: 3.5rem;
	}
	div.dev_about h2 span {
		display: block;
	}
}

@media (max-width: 476px) {
	section#dev_about div.dev_about {
		width: calc(100% - 5rem);
	}
}

/* **************************** Index Library **************************** */

/* ============ Library Tiles ============ */

section#dev_library {
	margin: 5rem auto;
	position: relative;
	width: calc(100% - 20rem);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 6rem 3rem;
}

section#dev_library div.lib_banner {
	position: relative;
	margin: auto;
	padding: 4rem;
	display: flex;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50vh;
	overflow: hidden;
	z-index: 1;

	/* Glass Effect */
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), inset 0px 0px 40px 20px rgba(255, 255, 255, 0.2);
	border: 2px solid rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

/* ============ Library Tiles Figure ============ */

div.lib_banner .figure {
	position: absolute;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	z-index: -1;
}

div.lib_banner .figure object {
	width: 30rem;
	height: auto;
	transform: translateX(6rem) scale(0.9);
	transition: all 0.6s cubic-bezier(0.34, 1.64, 0.56, 0.88);
}

div.lib_banner:hover .figure object {
	transform: translateX(4rem) scale(1);
}

/* ============ Library Tiles Content ============ */

div.lib_banner .content {
	position: relative;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

div.lib_banner .content h2 {
	margin: 0.5rem 0;
	font-size: 5rem;
	font-weight: 400;
	font-family: "Spoiled", sans-serif;
	color: var(--primarywhite);
	-webkit-text-stroke: 0.8px var(--primarywhite);
	letter-spacing: 4px;
	text-align: left;
	user-select: none;
}

div.lib_banner .content p {
	margin: 0.5rem 0;
	font-size: 2rem;
	font-weight: 600;
	font-family: "Liber", sans-serif;
	color: var(--lightwhite);
	letter-spacing: 0.4px;
	text-align: left;
}

div.lib_banner .content a {
	position: relative;
	margin: 1.5rem 0;
	padding: 1.2rem 2.4rem 0.8rem;
	font-size: 1.8rem;
	font-weight: 700;
	font-family: "Liber", sans-serif;
	color: var(--primarywhite);
	border-radius: 50px;
	background: rgba(255, 255, 255, 0.15);
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.25) 60%,
		rgba(255, 255, 255, 0.15) 100%
	);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), inset 0px 0px 10px 2px rgba(255, 255, 255, 0.2);
	letter-spacing: 0.4px;
	text-align: center;
}

div.lib_banner .content a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid var(--primarywhite);
	opacity: 0.4;
	border-radius: 50px;
	transition: all 0.1s ease-in-out;
}

div.lib_banner .content a:hover:before {
	opacity: 0.8;
}

/* **************************** Responsive Media **************************** */

@media (max-width: 1240px) {
	section#dev_library {
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;
	}
}

@media (max-width: 992px) {
	section#dev_library {
		width: calc(100% - 10rem);
	}
}

@media (max-width: 768px) {
	section#dev_library div.lib_banner {
		padding: 2rem;
		height: auto;
		align-items: flex-start;
		flex-direction: column;
	}

	div.lib_banner .figure {
		position: relative;
		opacity: 1;
		z-index: 1;
	}

	div.lib_banner .figure object {
		width: 20rem;
		transform: translateX(0) scale(0.9);
	}

	div.lib_banner:hover .figure object {
		transform: translateX(0) scale(1);
	}

	div.lib_banner .content {
		margin: 2rem 0;
		width: 100%;
	}
}

@media (max-width: 572px) {
	div.lib_banner .figure object {
		width: 10rem;
	}

	div.lib_banner .content h2 {
		font-size: 3.5rem;
		-webkit-text-stroke: 0.5px var(--primarywhite);
	}
}

@media (max-width: 476px) {
	section#dev_library {
		width: calc(100% - 5rem);
	}
}

/* **************************** Index Add New **************************** */

section#dev_addnew div.dev_addnew {
	position: relative;
	margin: 10rem auto;
	padding: 6rem 2rem;
	width: calc(100% - 20rem);
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	/* Glass Effect */
	border-radius: 16px;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), inset 0px 0px 40px 20px rgba(255, 255, 255, 0.2);
	border: 2px solid rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

div.dev_addnew h2 {
	margin: 2rem auto;
	font-size: 5rem;
	font-weight: 500;
	font-family: "Astromax", sans-serif;
	color: var(--primarywhite);
	letter-spacing: 1px;
	text-align: center;
	user-select: none;
}

div.dev_addnew p {
	margin: 1rem auto;
	font-size: 1.8rem;
	font-weight: 600;
	font-family: "Liber", sans-serif;
	color: var(--lightwhite);
	letter-spacing: 0.8px;
	text-align: center;
	line-height: 1.8;
}

div.dev_addnew a {
	position: relative;
	margin: 1.5rem auto;
	padding: 1.8rem 4.4rem 1.4rem;
	font-size: 2rem;
	font-weight: 700;
	font-family: "Liber", sans-serif;
	color: var(--primarywhite);
	border-radius: 50px;
	background: rgba(255, 255, 255, 0.15);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), inset 0px 0px 10px 2px rgba(255, 255, 255, 0.2);
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	user-select: none;
}

div.dev_addnew a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2.5px solid var(--primarywhite);
	opacity: 0.4;
	border-radius: 50px;
	transition: all 0.1s ease-in-out;
}

div.dev_addnew a:hover:before {
	opacity: 0.8;
}

/* **************************** Responsive Media **************************** */

@media (max-width: 992px) {
	section#dev_addnew div.dev_addnew {
		width: calc(100% - 10rem);
	}
}

@media (max-width: 768px) {
	section#dev_addnew div.dev_addnew {
		padding: 2rem;
	}
	div.dev_addnew h2 {
		font-size: 4rem;
	}
	div.dev_addnew a {
		padding: 1.6rem 3.6rem 1.2rem;
		font-size: 1.8rem;
	}
}

@media (max-width: 476px) {
	section#dev_addnew div.dev_addnew {
		width: calc(100% - 5rem);
	}
}

/* **************************** Styles End **************************** */
